body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.nav-styles {
  background-color: #312e81;
  font-weight: bold;
  font-size: 18px;
  height: 60px;
}
.btn-styles {
  width: 2.8rem;
  height: 2.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid white;
  position: relative;
}

.cart-style {
  color: white;
  width: 1.5rem;
  height: 1.5rem;
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translate(25%, 25%);
}

.card {
  overflow: hidden
}

.cardStyle {
  object-fit: cover
}
.cardStyle:hover {
  transform: scale(1.01, 1.01);
}